
# Global settings
#---------------------------------------------------------------------
global
    maxconn     20000
    log         /dev/log local0 info
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 5000

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /

frontend  http-vault-fronted
    bind *:80
    default_backend http-vault-backend
    mode tcp
    option tcplog

backend http-vault-backend
    balance source
    mode tcp
    option httpchk HEAD /v1/sys/health
{% for host in groups['tower_ui'] %}
    server      master{{ loop.index }} {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:80 check
{% endfor %}