# default: on
# description: postgreschk
service postgreschk
{
        socket_type     = stream
        protocol        = tcp
        port            = {{ xinetd_port }}
        wait            = no
        user            = root
        server          = /usr/local/sbin/postgreschk
        disable         = no
        only_from       = 0.0.0.0/0
}